extends layout

block content
  h1= title
  p Welcome to #{title}
  p Content is being re-designed

  p TODO:
  p VR APP
  p CHAT APP
  p PROGRESSIVE APP
  p ELECTRON APP

  p GAME ??

  p -- Building with :latest and Pushing to Git - Docker should autobuild??
